@model OOP_BIG_PROJECT.ViewModels.FighterViewModel

<div class="tinder1">
    <form asp-action="Index" class="p-4 p-md-5 bg-body-tertiary">
        @if (Model.SelectedFighter != null)
        {
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">
                @Model.SelectedFighter.Name
            </h1>

            @if (!Model.SelectedFighter.Sex)
            {
                <p class="col-lg-8 mx-auto fs-5 text-dark">
                    мужчина - @Model.SelectedFighter.Age
                </p>
            }
            else
            {
                <p class="col-lg-8 mx-auto fs-5 text-dark">
                    женщина - @Model.SelectedFighter.Age
                </p>
            }

            <hr class="my-4">

            <div class="scroll_t">
                <p class="col-lg-8 mx-auto fs-5 text-dark">
                    @Model.SelectedFighter.Skills
                </p>
            </div>

            <hr class="my-4">
        }
        else
        {
            <p>Выбранный боец не найден.</p>
        }
    </form>
    <div class="text-center">
        <div class="d-inline-flex gap-2 mb-5">
            <form asp-controller="Match" asp-action="Like" method="post">
                <button type="submit" name="fighterId" value="@Model.SelectedFighter.Id" class="d-inline-flex align-items-center btn btn-success btn-lg px-4 rounded-pill">
                    Лайк
                    <svg class="bi ms-2" width="50" height="50"><use xlink:href="#arrow-right-short"></use></svg>
                </button>
            </form>

            <form asp-controller="Match" asp-action="Dislike" method="post">
                <button type="submit" name="fighterId" value="@Model.SelectedFighter.Id" class="d-inline-flex align-items-center btn btn-warning btn-lg px-4 rounded-pill">
                    Дизлайк
                    <svg class="bi ms-2" width="50" height="50"><use xlink:href="#arrow-right-short"></use></svg>
                </button>
            </form>
        </div>
    </div>
</div>
