@model OOP_BIG_PROJECT.Models.Fighter




<div class="fighter1">
    <form asp-action="PostRegister" class="p-4 p-md-5 bg-body-tertiary">

        <p class="col-lg-8 mx-auto fs-5 text-dark">
            @Model.Name
        </p>



        @if (@Model.Sex == false)
        {
            <h1>
                мужчина - @Model.Age
            </h1>
        }
        @if (@Model.Sex == true)
        {
            <h1>
                женщина - @Model.Age
            </h1>
        }
        <hr class="my-4">


        <div class="scroll">
            <h1>
                @Model.Skills
            </h1>

        </div>

        <hr class="my-4">

    </form>
    <div class="ArButs">
        <div class="d-inline-flex gap-2 mb-5">
            <a asp-controller="Match" asp-action="Register" class="d-inline-flex align-items-center btn btn-success btn-lg px-4 rounded-pill" type="button">
                Лайк
                <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
            </a>
            <a asp-controller="Match" asp-action="Login" class="d-inline-flex align-items-center btn btn-danger btn-lg px-4 rounded-pill" type="button">
                Дизлайк
                <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
            </a>
        </div>

    </div>


</div>